<div class="player @CssDisplay">

    <div class="cover">
        <img src="@CurrentSong.ImagePath" alt="@CurrentSong.Title" />
        <audio id="@Id" @onchange="@OnChange">
            <source src="@CurrentSong.Path" type="audio/ogg; codecs=opus">
        </audio>
        <progress id="songProgressbar" value="@_currentTime" max="@_duration"></progress>

        <div class="song-presentation">
            <div class="song-title">@CurrentSong.Title</div>
            <div class="song-artist">@CurrentSong.Artist</div>
        </div>

    </div>

    <div class="player-ui">

        <div class="controls">
            <i class="material-icons @DisabledPreviousButtonClass" disable="@HasPreviousButtonDisabled"
                @onclick="OnClickPreviousButton">skip_previous</i>
            <i class="material-icons play-icon" @onclick="OnClickPlayPauseButton">@IconPlayer</i>
            <i class="material-icons @DisabledNextButtonClass" disabled="@HasNextButtonDisabled"
                @onclick="OnClickNextButton">skip_next</i>
        </div>
        <div class="small">
            <i class="material-icons random-icon @RandomClass"
                @onclick="@(async () => await OnRandomClick())">shuffle</i>
            <i class="material-icons random-icon" @onclick="@(async () => await OnShowMusicListClick())">menu_open</i>
        </div>
    </div>

</div>