<div class="player">

    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
        <div class="bubble x1"></div>
    </div>

    <div id="wrapper">
        <div id="iphone">
            <div id="screen">
                <div id="content-wrap">
                    <div id="background"></div>
                    <div id="content">
                        <div class="jcarousel">
                            <ul id="songs">
                                <li class="song">
                                    <img src="@ViewModel.CurrentSong.ImagePath" alt="@ViewModel.CurrentSong.Title">
                                    <p class="song-title">@ViewModel.CurrentSong.Title</p>
                                    <p class="song-artist">@ViewModel.CurrentSong.Artist</p>
                                </li>
                            </ul>
                        </div>
                        <audio id="audioPlayer"><source src="@ViewModel.CurrentSong.Path" type="audio/mpeg"></audio>
                        <div id="controls">
                            <span id="previous-btn"><i class="fa fa-step-backward fa-fw" aria-hidden="true" disable="@ViewModel.IsBeginList" @onclick="OnClickPreviousButton"></i></span>
                            <span id="play-btn"><i class="fa @IconPlayerClass fa-fw" aria-hidden="true" @onclick="OnClickPlayPauseButton"></i></span>
                            <span id="next-btn"><i class="fa fa-step-forward fa-fw" aria-hidden="true" disabled="@ViewModel.IsEndList" @onclick="OnClickNextButton"></i></span>
                        </div>
                        <div id="timeline">
                            <span id="current-time">--:--</span>
                            <span id="total-time">--:--</span>
                            <progress id="songProgressbar" value="0" max="100"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>